In [10]:
import pandas as pd
import json     #JSON 파일을 다루는 모듈

# JSON 파일 읽어오기
# f.close()를 신경안써도 된다.
# with 문 안의 들여쓰기 부분을 빠져나가는 순간 자동으로 f.close() 실행됨
# load() 를 사용하면 JSON을 dict 타입으로 반환
with open('data01.json', encoding='utf-8') as f:
    json_data = json.load(f)
'''
with ~ as 문법으로 해결
f = open('data01.json', 'r')
json_data = json.load(f)
f.close()
'''

print(json_data) #{'name': 'basic shirt', 'colour': 'grey', 'size': 'M', 'price': 10000, 'brand': 'python'}
type(json_data)
pd.json_normalize(json_data)

{'name': 'basic shirt', 'colour': 'grey', 'size': 'M', 'price': 10000, 'brand': 'python'}

"\nwith ~ as 문법으로 해결\nf = open('data01.json', 'r')\njson_data = json.load(f)\nf.close()\n"

In [14]:
with open('data02.json', encoding='utf-8') as f:
    json_list = json.load(f)


json_list

#json 배열 > 파이썬은 list로 본다.
#json 객체 > 파이썬은 dictionary로 본다.
type(json_list) #list
type(json_list[0]) #dict

#pd.json_normalize : json을 DataFrame으로 변환
df_data = pd.json_normalize(json_list) 
df_data

     name color size   price   brand
0  기본 티셔츠    회색    M   10000  python
1      니트   검정색    L   22000  python
2      패딩    흰색    S  300000  python

In [19]:
# 파이썬의 딕셔너리는 값으로 리스트나 다른 딕셔너리를 가질 수 있다.
dict_product01 = {"name": "iPhone"}
dict_product02 = {"name": "Galaxy"}
#dict_product00 = {"key": value}

dict_data={
    "products": [dict_product01, dict_product02],
    "sale": {"의류": 10}
}

dict_data.get("products") #[{'name': 'iPhone'}, {'name': 'Galaxy'}] : list
dict_data.get("products")[0] # {'name': 'iPhone'}: dict
dict_data.get("products")[0].get('name') #iPhone

'iPhone'

In [29]:
with open('data03.json', encoding='utf-8') as f:
    json_data = json.load(f)


json_data

pd.json_normalize(json_data)

print(json_data)

json_data['board'] #{'title': 'hi', 'content': '반가워요~', 'writer': '박웅이'}

pd.json_normalize(json_data['board'])
pd.json_normalize(json_data['products'])

{'name': '김철수', 'board': {'title': 'hi', 'content': '반가워요~', 'writer': '박웅이'}, 'fruits': ['banana', 'apple', 'cherry'], 'products': [{'name': '아이폰'}, {'name': '갤럭시'}]}

  name
0  아이폰
1  갤럭시

In [35]:
import requests as req

resp = req.get('https://my-json-server.typicode.com/refactoringK/data01/user')

resp.status_code

resp.text

json_user = resp.json()

type(json_user) #dict


df_user = pd.json_normalize(json_user)

df_user

       id name  age  address gender
0  abc123  김철수   22  강남구 역삼동      M

In [40]:
resp = req.get('https://my-json-server.typicode.com/refactoringK/data01/users')
resp.json()

df_users = pd.json_normalize(resp.json())
df_users

    id          email name  age  address gender
0  aaa  aaa@naver.com  김철수   22  강남구 역삼동      M
1  bbb  bbb@naver.com  김영희   24  성북구 보문동      F
2  ccc  ccc@naver.com  박웅이   11  성북구 삼선동      M
3  ddd  ddd@naver.com  이유리   20  강남구 논현동      F

In [48]:
resp = req.get('https://my-json-server.typicode.com/refactoringK/data02/boards')

resp.json()

df_boards = pd.json_normalize(resp.json())

comments_list = []

for json_obj in resp.json(): # resp.json() 에서 객체가 하나씩 뽑혀서 json_obj에 담긴다
    comments_list += json_obj['comments']

df_comments = pd.json_normalize(comments_list)
#df_comments

# json 배열 안에 {} 이런 빈 객체 들어있으면 NaN 을 담은 행이 그대로 나온다
# 빈 객체 {} 행을 제거해보자
df_comments.dropna(inplace=True)
df_comments


# 컬럼 타입 변경
print(df_comments.number) # Name: number, dtype: float64
df_comments.number = df_comments.number.astype(int) #number 타입을 int로 변경함
df_comments

0    1.0
1    2.0
2    3.0
3    4.0
4    5.0
5    6.0
6    7.0
7    8.0
Name: number, dtype: float64

   number               content author
0       1              네 안녕하세요~    bbb
1       2   matplotlib 사용하면 쉬워요    ccc
2       3  저도 matplotlib 사용합니다!    ddd
3       4      오류 내용이랑 코드 올려주세요    bbb
4       5                네 잠시만요    aaa
5       6            XXX 추천합니다.    aaa
6       7            XXX 추천합니다.    ccc
7       8            XXX 추천합니다.    ddd