In [1]:
# 통계분석 라이브러리
# 선형회귀, 시계열 분석, 분산 분석, 로지스틱 회귀같은 알고리즘을 통해 
# 모델을 구현하는데 사용됨
!pip install statsmodels

#!pip install scikit-learn

Collecting statsmodels
  Downloading statsmodels-0.14.1-cp312-cp312-win_amd64.whl.metadata (9.8 kB)
Requirement already satisfied: numpy<2,>=1.18 in c:\users\administrator\appdata\local\programs\python\python312\lib\site-packages (from statsmodels) (1.26.3)
Requirement already satisfied: scipy!=1.9.2,>=1.4 in c:\users\administrator\appdata\local\programs\python\python312\lib\site-packages (from statsmodels) (1.12.0)
Requirement already satisfied: pandas!=2.1.0,>=1.0 in c:\users\administrator\appdata\local\programs\python\python312\lib\site-packages (from statsmodels) (2.2.0)
Collecting patsy>=0.5.4 (from statsmodels)
  Downloading patsy-0.5.6-py2.py3-none-any.whl.metadata (3.5 kB)
Requirement already satisfied: packaging>=21.3 in c:\users\administrator\appdata\local\programs\python\python312\lib\site-packages (from statsmodels) (23.2)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\administrator\appdata\local\programs\python\python312\lib\site-packages (from pandas!=2.1.0,>=1.0->statsmodels) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\administrator\appdata\local\programs\python\python312\lib\site-packages (from pandas!=2.1.0,>=1.0->statsmodels) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\administrator\appdata\local\programs\python\python312\lib\site-packages (from pandas!=2.1.0,>=1.0->statsmodels) (2023.4)
Requirement already satisfied: six in c:\users\administrator\appdata\local\programs\python\python312\lib\site-packages (from patsy>=0.5.4->statsmodels) (1.16.0)
Downloading statsmodels-0.14.1-cp312-cp312-win_amd64.whl (9.8 MB)
   ---------------------------------------- 0.0/9.8 MB ? eta -:--:--
    --------------------------------------- 0.2/9.8 MB 5.8 MB/s eta 0:00:02
   --- ------------------------------------ 0.8/9.8 MB 8.2 MB/s eta 0:00:02
   ----- ---------------------------------- 1.4/9.8 MB 9.7 MB/s eta 0:00:01
   ------- -------------------------------- 1.9/9.8 MB 10.3 MB/s eta 0:00:01
   ---------- ----------------------------- 2.6/9.8 MB 10.9 MB/s eta 0:00:01
   ------------ --------------------------- 3.1/9.8 MB 10.9 MB/s eta 0:00:01
   -------------- ------------------------- 3.5/9.8 MB 10.6 MB/s eta 0:00:01
   ---------------- ----------------------- 3.9/9.8 MB 10.9 MB/s eta 0:00:01
   ------------------ --------------------- 4.5/9.8 MB 11.1 MB/s eta 0:00:01
   -------------------- ------------------- 5.1/9.8 MB 11.2 MB/s eta 0:00:01
   ----------------------- ---------------- 5.7/9.8 MB 11.3 MB/s eta 0:00:01
   ------------------------- -------------- 6.3/9.8 MB 11.1 MB/s eta 0:00:01
   --------------------------- ------------ 6.7/9.8 MB 11.3 MB/s eta 0:00:01
   ----------------------------- ---------- 7.2/9.8 MB 11.2 MB/s eta 0:00:01
   ------------------------------ --------- 7.6/9.8 MB 11.3 MB/s eta 0:00:01
   -------------------------------- ------- 8.1/9.8 MB 11.4 MB/s eta 0:00:01
   ----------------------------------- ---- 8.7/9.8 MB 11.5 MB/s eta 0:00:01
   ------------------------------------- -- 9.1/9.8 MB 11.4 MB/s eta 0:00:01
   ---------------------------------------  9.6/9.8 MB 11.4 MB/s eta 0:00:01
   ---------------------------------------  9.8/9.8 MB 11.4 MB/s eta 0:00:01
   ---------------------------------------- 9.8/9.8 MB 11.0 MB/s eta 0:00:00
Downloading patsy-0.5.6-py2.py3-none-any.whl (233 kB)
   ---------------------------------------- 0.0/233.9 kB ? eta -:--:--
   ---------------------------------------- 233.9/233.9 kB 7.2 MB/s eta 0:00:00
Installing collected packages: patsy, statsmodels
Successfully installed patsy-0.5.6 statsmodels-0.14.1

In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
import statsmodels.api as sm
from matplotlib import font_manager, rc

# 한글 폰트
font_path = 'C:/Windows/Fonts/malgun.ttf'
font_name = font_manager.FontProperties(fname=font_path).get_name()
plt.rc('font', family=font_name)
plt.rcParams['axes.unicode_minus'] = False

In [4]:
df_origin_data = pd.read_csv('temperature.csv')

In [6]:
df_origin_data.head() # 상위 5개 가져와라

df_origin_data.describe() # 통계치

               최고기온          최저기온  ...           일조율          평균기온
count  23008.000000  23008.000000  ...  22645.000000  23011.000000
mean      17.071714      8.451960  ...     48.653526     12.415419
std       10.714471     10.578285  ...     31.662321     10.489515
min      -13.600000    -20.200000  ...      0.000000    -16.400000
25%        7.800000     -0.300000  ...     17.800000      3.400000
50%       18.900000      9.200000  ...     55.700000     13.800000
75%       26.400000     17.900000  ...     78.000000     21.800000
max       39.600000     30.300000  ...     96.900000     33.700000

[8 rows x 10 columns]

In [9]:
# 시계열 데이터: 시간 순서대로 관측된 데이터 (날짜정보를 가공해야함)

df_origin_data.info()

# Name: 일시, Length: 23011, dtype: datetime64[ns]
df_origin_data['일시'] = pd.to_datetime(df_origin_data['일시'])

# '일시'라는 컬럼을 index로 쓰겠다. (inplace=True: 이걸 이제 원본데이터로 쓰겠다)
df_origin_data.set_index('일시', inplace=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23011 entries, 0 to 23010
Data columns (total 11 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   일시      23011 non-null  object
 1   최고기온    23008 non-null  float64
 2   최저기온    23008 non-null  float64
 3   일교차     23007 non-null  float64
 4   강수량     9150 non-null   float64
 5   평균습도    23011 non-null  float64
 6   평균풍속    23007 non-null  float64
 7   일조합     22893 non-null  float64
 8   일사합     18149 non-null  float64
 9   일조율     22645 non-null  float64
 10  평균기온    23011 non-null  float64
dtypes: float64(10), object(1)
memory usage: 1.9+ MB

0       1960-01-01
1       1960-01-02
2       1960-01-03
3       1960-01-04
4       1960-01-05
           ...
23006   2022-12-27
23007   2022-12-28
23008   2022-12-29
23009   2022-12-30
23010   2022-12-31
Name: 일시, Length: 23011, dtype: datetime64[ns]

In [11]:
df_origin_data.head()

# 데이터의 시간 간격을 지정한다. (D로 설정하면 단위가 하루, 근데 이 때 데이터 중 빠진 값 있으면 안됨)
# 현재 우리가 가진 데이터는 하루도 빠짐없이 모든 데이터를 가지고 있으므로 'D'를 설정한다. (연 단위면 'y', 월 단위면 'm')
# 만약 달의 마지막날 기준으로 데이터가 저장되어 있다면 'M'
# 달의 시작일로 저장되어 있다면 'MS' ex) 1월1일, 2월1일, 3월1일 ...
# 연의 마지막 날 기준이면 'Y'
# 연의 시작일 기준이면 'YS'를 사용한다.
df_origin_data.index.freq = 'D'

In [12]:
# 결측치 구경
df_data = df_origin_data

df_data.isna().sum()

일시          0
최고기온        3
최저기온        3
일교차         4
강수량     13861
평균습도        0
평균풍속        4
일조합       118
일사합      4862
일조율       366
평균기온        0
dtype: int64

In [18]:
# 결측치 상세보기

# 최고 기온
#s_isna = df_data['최고기온'].isna()
#print(df_data[s_isna])

# 최저 기온
#s_isna = df_data['최저기온'].isna()
#print(df_data[s_isna])

df_data.columns

for col in df_data.columns:
    print(df_data[col].isna().value_counts())
    print()
    s_isna = df_data[col].isna()
    print(df_data[s_isna])
    print("--------------------------------------------------")

일시
False    23011
Name: count, dtype: int64

Empty DataFrame
Columns: [일시, 최고기온, 최저기온, 일교차, 강수량, 평균습도, 평균풍속, 일조합, 일사합, 일조율, 평균기온]
Index: []
--------------------------------------------------
최고기온
False    23008
True         3
Name: count, dtype: int64

               일시  최고기온  최저기온  일교차  강수량  평균습도  평균풍속  일조합   일사합   일조율  평균기온
2606   1967-02-19   NaN   NaN  NaN  NaN  62.0   1.8  9.5   NaN  93.1  -1.7
5037   1973-10-16   NaN   NaN  NaN  0.4  74.0   1.8  3.5  9.24  29.7  12.3
21104  2017-10-12   NaN   8.8  NaN  NaN  71.0   2.0  NaN  2.23   0.0  11.4
--------------------------------------------------
최저기온
False    23008
True         3
Name: count, dtype: int64

               일시  최고기온  최저기온  일교차    강수량  평균습도  평균풍속  일조합   일사합   일조율  평균기온
2606   1967-02-19   NaN   NaN  NaN    NaN  62.0   1.8  9.5   NaN  93.1  -1.7
5037   1973-10-16   NaN   NaN  NaN    0.4  74.0   1.8  3.5  9.24  29.7  12.3
22865  2022-08-08  28.4   NaN  NaN  129.6  91.6   3.3  NaN   NaN   0.0  26.8
--------------------------------------------------
일교차
False    23007
True         4
Name: count, dtype: int64

               일시  최고기온  최저기온  일교차    강수량  평균습도  평균풍속  일조합   일사합   일조율  평균기온
2606   1967-02-19   NaN   NaN  NaN    NaN  62.0   1.8  9.5   NaN  93.1  -1.7
5037   1973-10-16   NaN   NaN  NaN    0.4  74.0   1.8  3.5  9.24  29.7  12.3
21104  2017-10-12   NaN   8.8  NaN    NaN  71.0   2.0  NaN  2.23   0.0  11.4
22865  2022-08-08  28.4   NaN  NaN  129.6  91.6   3.3  NaN   NaN   0.0  26.8
--------------------------------------------------
강수량
True     13861
False     9150
Name: count, dtype: int64

               일시  최고기온  최저기온   일교차  강수량  평균습도  평균풍속  일조합    일사합   일조율  평균기온
0      1960-01-01   2.2  -5.2   7.4  NaN  68.3   1.7  6.7    NaN   NaN  -1.6
4      1960-01-05   1.3  -8.2   9.5  NaN  44.0   5.1  8.2    NaN   NaN  -4.6
10     1960-01-11   2.6  -5.4   8.0  NaN  50.3   4.1  8.2    NaN   NaN  -2.3
12     1960-01-13   1.6  -9.1  10.7  NaN  39.0   1.4  6.7    NaN   NaN  -2.8
16     1960-01-17  -1.1  -9.9   8.8  NaN  40.3   2.3  7.0    NaN   NaN  -5.3
...           ...   ...   ...   ...  ...   ...   ...  ...    ...   ...   ...
23002  2022-12-23  -8.6 -13.7   5.1  NaN  60.5   4.3  8.4  10.76  87.5 -11.8
23003  2022-12-24  -2.0 -13.5  11.5  NaN  54.9   1.8  8.9  10.92  92.7  -8.4
23004  2022-12-25   0.2  -9.6   9.8  NaN  66.5   1.7  9.0  10.89  93.8  -5.4
23005  2022-12-26   1.7  -7.9   9.6  NaN  68.4   1.4  7.6   8.27  79.2  -3.9
23006  2022-12-27   3.3  -7.3  10.6  NaN  69.8   1.8  8.8  10.25  91.7  -2.6

[13861 rows x 11 columns]
--------------------------------------------------
평균습도
False    23011
Name: count, dtype: int64

Empty DataFrame
Columns: [일시, 최고기온, 최저기온, 일교차, 강수량, 평균습도, 평균풍속, 일조합, 일사합, 일조율, 평균기온]
Index: []
--------------------------------------------------
평균풍속
False    23007
True         4
Name: count, dtype: int64

               일시  최고기온  최저기온   일교차  강수량  평균습도  평균풍속   일조합    일사합   일조율  평균기온
8597   1983-07-16  26.5  21.3   5.2  3.9  79.5   NaN   2.2   8.02  15.2  24.2
21106  2017-10-14  20.5   9.0  11.5  NaN  42.8   NaN  10.6  10.58  93.8  14.4
21158  2017-12-05  -0.4  -8.2   7.8  0.1  40.1   NaN   2.1   0.86  21.6  -4.2
21159  2017-12-06   6.0  -4.5  10.5  1.2  72.6   NaN   7.7   6.14  79.4   0.2
--------------------------------------------------
일조합
False    22893
True       118
Name: count, dtype: int64

               일시  최고기온  최저기온   일교차    강수량  평균습도  평균풍속  일조합    일사합  일조율  평균기온
1870   1965-02-13   5.4   0.4   5.0    1.6  81.0   2.8  NaN    NaN  0.0   2.1
1891   1965-03-06   0.2  -5.6   5.8    0.6  77.8   1.9  NaN    NaN  0.0  -2.6
1900   1965-03-15  11.4   0.8  10.6   10.5  88.0   3.3  NaN    NaN  0.0   5.2
1901   1965-03-16   3.4   0.3   3.1    3.3  89.8   2.2  NaN    NaN  0.0   1.6
1935   1965-04-19  10.0   6.8   3.2    2.5  78.8   3.5  NaN    NaN  0.0   8.5
...           ...   ...   ...   ...    ...   ...   ...  ...    ...  ...   ...
21230  2018-02-15   4.0  -3.7   7.7    NaN  28.0   2.5  NaN    NaN  0.0  -0.7
21372  2018-07-07  29.2  19.5   9.7    NaN  51.4   1.6  NaN  27.32  0.0  23.7
21789  2019-08-28  30.2  23.6   6.6    NaN  66.2   1.9  NaN    NaN  0.0  26.1
22287  2021-01-07  -8.4 -16.5   8.1    NaN  49.9   4.1  NaN    NaN  0.0 -14.5
22865  2022-08-08  28.4   NaN   NaN  129.6  91.6   3.3  NaN    NaN  0.0  26.8

[118 rows x 11 columns]
--------------------------------------------------
일사합
False    18149
True      4862
Name: count, dtype: int64

               일시  최고기온  최저기온   일교차    강수량  평균습도  평균풍속  일조합  일사합   일조율  평균기온
0      1960-01-01   2.2  -5.2   7.4    NaN  68.3   1.7  6.7  NaN   NaN  -1.6
1      1960-01-02   1.2  -5.6   6.8    0.4  87.7   1.3  0.0  NaN   NaN  -1.9
2      1960-01-03   8.7  -2.1  10.8    0.0  81.3   3.0  0.0  NaN   NaN   4.0
3      1960-01-04  10.8   1.2   9.6    0.0  79.7   4.4  2.6  NaN   NaN   7.5
4      1960-01-05   1.3  -8.2   9.5    NaN  44.0   5.1  8.2  NaN   NaN  -4.6
...           ...   ...   ...   ...    ...   ...   ...  ...  ...   ...   ...
21230  2018-02-15   4.0  -3.7   7.7    NaN  28.0   2.5  NaN  NaN   0.0  -0.7
21789  2019-08-28  30.2  23.6   6.6    NaN  66.2   1.9  NaN  NaN   0.0  26.1
21790  2019-08-29  26.4  20.1   6.3   36.9  77.1   2.2  4.9  NaN  37.4  23.4
22287  2021-01-07  -8.4 -16.5   8.1    NaN  49.9   4.1  NaN  NaN   0.0 -14.5
22865  2022-08-08  28.4   NaN   NaN  129.6  91.6   3.3  NaN  NaN   0.0  26.8

[4862 rows x 11 columns]
--------------------------------------------------
일조율
False    22645
True       366
Name: count, dtype: int64

             일시  최고기온  최저기온   일교차  강수량  평균습도  평균풍속  일조합  일사합  일조율  평균기온
0    1960-01-01   2.2  -5.2   7.4  NaN  68.3   1.7  6.7  NaN  NaN  -1.6
1    1960-01-02   1.2  -5.6   6.8  0.4  87.7   1.3  0.0  NaN  NaN  -1.9
2    1960-01-03   8.7  -2.1  10.8  0.0  81.3   3.0  0.0  NaN  NaN   4.0
3    1960-01-04  10.8   1.2   9.6  0.0  79.7   4.4  2.6  NaN  NaN   7.5
4    1960-01-05   1.3  -8.2   9.5  NaN  44.0   5.1  8.2  NaN  NaN  -4.6
..          ...   ...   ...   ...  ...   ...   ...  ...  ...  ...   ...
361  1960-12-27  -0.7  -9.4   8.7  0.0  61.3   1.8  0.0  NaN  NaN  -5.2
362  1960-12-28  -4.3  -9.8   5.5  NaN  53.0   3.7  4.3  NaN  NaN  -7.5
363  1960-12-29  -7.9 -13.5   5.6  NaN  49.3   5.0  9.0  NaN  NaN -10.8
364  1960-12-30  -9.7 -16.0   6.3  NaN  53.3   5.7  8.2  NaN  NaN -12.8
365  1960-12-31  -7.2 -15.7   8.5  NaN  58.3   3.0  7.3  NaN  NaN -11.7

[366 rows x 11 columns]
--------------------------------------------------
평균기온
False    23011
Name: count, dtype: int64

Empty DataFrame
Columns: [일시, 최고기온, 최저기온, 일교차, 강수량, 평균습도, 평균풍속, 일조합, 일사합, 일조율, 평균기온]
Index: []
--------------------------------------------------