In [4]:
import pandas as pd

li = [[90, 70, 80], [75, 80, 65]]
# print(li, type(li))

df = pd.DataFrame(li)

# 행 인덱스 설정 : df.index = 인덱스 배열
df.index = ['둘리', '또치']

# 열 인덱스 설정 : df.columns = 열 이름 배열
df.columns = ['python', 'java', 'javaScript']

# 행 인덱스 일부 수정
# df.rename(index = {기존 인덱스 : 새 인덱스,....})
df.rename(index = {"또치":"도우너"}, inplace = True)
# 원본 객체를 변경하기 위해서는 inplace = True 옵션 설정을 해야한다!

df = df.rename(index = {"도우너" : "마이콜"}) #inplace = True 설정이 없으면 재할당 해야함!

# 열 인덱스 일부 설정
df.rename(columns = {"javaScript": "C 언어"}, inplace = True)

df

     python  java  C 언어
둘리       90    70    80
마이콜      75    80    65

## 행/열 추가

In [7]:
import pandas as pd


print("기존:", df)

# 열 추가
# df["열 이름"] = 데이터
df["DB"] = [85, 90] #DB 라는 컬럼 추가하고 해당 컬럼의 행에 값을 85, 90 넣어라


# 열 여러개 추가
df[['web', 'js']] = [[75, 60], [80, 55]]

df

기존:      python  java  C 언어  DB
둘리       90    70    80  85
마이콜      75    80    65  90

     python  java  C 언어  DB  web  js
둘리       90    70    80  85   75  60
마이콜      75    80    65  90   80  55

## 행 추가

In [17]:
# df.loc["행이름"] = 데이터
df.loc['또치'] = [85, 90, 95, 70, 100, 85] # "또치"라는 행을 추가하고, 값을 집어넣음
# df

# 여러 행 추가
# df.loc[["짱구", "철수"]] = [[20, 30, 40, 50, 90, 50], [55, 66, 75, 12, 25, 58]] : 이 방식 안됨.

# 여러 행을 추가하려면 새로운 데이터 프레임을 생성한 후 기존 데이터 프레임에 이어붙여야 한다.
new_df = pd.DataFrame({
    "python":[50, 100],
    "java":[60, 90],
    "C 언어":[65, 90],
    "DB":[70, 95],
    "web":[60, 90],
    "js":[55, 80]
}, index = ["짱구", "철수"])

print(df)

# pd.concat([df1, df2]): 2개의 데이터 프레임 이어 붙임
#df = pd.concat([df, new_df])

print("new_df: \n",new_df)

print("df: \n",df)

     python  java  C 언어  DB  web  js
둘리       90    70    80  85   75  60
마이콜      75    80    65  90   80  55
또치       85    90    95  70  100  85
짱구       50    60    65  70   60  55
철수      100    90    90  95   90  80
짱구       50    60    65  70   60  55
철수      100    90    90  95   90  80
new_df:
     python  java  C 언어  DB  web  js
짱구      50    60    65  70   60  55
철수     100    90    90  95   90  80
df:
      python  java  C 언어  DB  web  js
둘리       90    70    80  85   75  60
마이콜      75    80    65  90   80  55
또치       85    90    95  70  100  85
짱구       50    60    65  70   60  55
철수      100    90    90  95   90  80
짱구       50    60    65  70   60  55
철수      100    90    90  95   90  80

In [22]:
import pandas as pd

# 행삭제
df2 = df.copy() # 데이터 프레임 복사

df2.drop("짱구", axis=0, inplace = True)
df2.drop(["또치", "철수"], axis=0, inplace = True)

df2

     python  java  C 언어  DB  web  js
둘리       90    70    80  85   75  60
마이콜      75    80    65  90   80  55

## 열 삭제

In [24]:
# 열 삭제
df3 = df.copy()

df3.drop("js", axis = 1, inplace = True)
df3.drop(["web", "DB"], axis = 1, inplace = True)

# drop은 슬라이싱을 이용한 삭제 할 수 없음.
df3

     python  java  C 언어
둘리       90    70    80
마이콜      75    80    65
또치       85    90    95
짱구       50    60    65
철수      100    90    90
짱구       50    60    65
철수      100    90    90